/****************Secciones principales************/
header,section,footer{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}
header{
    height: 100px;
    background-color: cadetblue;
}
#section_pg1{
    height: 1400px;
    background-color: rgb(71, 174, 243);
}
#section_pg2{
    height: 400px;
    background-color: rgb(71, 174, 243);
}
#section_pg3{
    height: 1240px;
    background-color: rgb(71, 174, 243);
}
#section_pg4{
    height: 2480px;
    background-color: rgb(71, 174, 243);
}
footer{
    height: 300px;
    background-color: bisque;
}
/****************Página principal************************/
.img_marca{
    /*height: 80px;
    width: 80px;
    background-color: blue;*/
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.bot_menu{

    width: 400px;
    height: 50px;
    /*background-color: cyan;*/
    float: left;
    margin-top: 25px;
    margin-left: 80px;
}
.bot_menu ul li{
    display: inline;;
}
.bot_menu ul li a{
    display: inline-block;
    width: 80px;
    height: 40px;
    /*background-color: coral;*/
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    margin-left: 10px;
}
.bot_social{
    width: 300px;
    height: 50px;
    background-color: rgb(61, 139, 129);
    float: right;
    margin-top: 25px;
    margin-right: 10px;
}
.bot_social ul li{
    display: inline;
}
.bot_social ul li a{
    display: inline-block;
    width: 90px;
    height: 40px;
    /*background-color: brown;*/
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    margin-left: 5px;
}

/***********************************************/
#img_pres{
    width: 940px;
    height: 450px;
    /*background-color: rgb(20, 220, 187);*/
    background-image: url(3.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#fondo_pg1{
    position: absolute;
    width: 940px;
    /*height: 450px;*/
}
#txt_pres{
    position: absolute;
    text-align: center;
    /*width: 400px;
    height: 150px;
    background-color: rgb(30, 44, 80);*/
    float: left;
    margin-left: 10px;
    margin-top: 290px;/*290*/
}
#img_serv1{
    width: 350px;
    height: 250px;
    /*background-color: crimson;*/
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#img_s1{
    
    
    width: 350px;
    /*height: 250px;*/
    
}
#txt_serv1{
    position: relative;
    text-align: center;
    width: 350px;
    height: 250px;
    background-color: tomato;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    /*z-index: 0;*/
}
#link_serv1{
    position: relative;
    width: 100px;
    height: 50px;
    background-color: rgb(157, 185, 32);
    float: left;
    margin-left: 10px;
    margin-top: auto;
    /*z-index: 1;*/
}
#img_serv2{
    width: 350px;
    height: 250px;
    /*background-color: rgb(236, 29, 236);*/
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#img_serv3{
    width: 465px;
    height: 250px;
    /*background-color: rgb(194, 21, 128);*/
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#img_s2{
    width: 350px;
    /*height: 250px;*/
}

#txt_serv2{
    position: relative;
    text-align: center;
    width: 350px;
    height: 250px;
    background-color: rgb(241, 132, 7);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    
}
#link_serv2{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: rgb(91, 247, 1);
    float: left;
    margin-left: 10px;
    /*margin-top: auto;*/
    top: 190px;
    /*z-index: 1;/*algo raro pasa respecto a la primera!*/
}
#txt_serv3{
    position: relative;
    text-align: center;
    width: 465px;
    height: 250px;
    background-color: rgb(255, 229, 82);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#img_s3{
    /*width: 465px;*/
    height: 250px;
    margin-left: 100px;
    
}
.link_button{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: rgb(12, 173, 47);
    float: left;
    margin-left: 10px;
    top: 190px;
    /*margin-top: 190px;*/
}
#txt_partner{
    text-align: center;
    width: 400px;
    height: 50px;
    /*background-color: rgb(126, 124, 123);*/
    clear: left;
    margin-left: auto;
    margin-right: auto;

}
#img_partner{
    width: 800px;
    height: 80px;
    background-color: rgb(43, 26, 18);
    margin-left: auto;
    margin-right: auto; 
    margin-top: 10px;
}
#main_banner{
    position: relative;
    width: 220px;
    height: 510px;
    background-color: blueviolet;
    left: 730px;
    top: 470px;
    margin-right: 10px;
    margin-top: 10px;
}

/***********************************************/
#contacto{
    text-align: right;
    width: 450px;
    height: 200px;
    background-color: rgb(89, 119, 96);
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
#links{
    text-align: left;
    width: 450px;
    height: 200px;
    background-color: rgb(96, 153, 109);
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}
#rights{
    text-align: center;
    /*width: 800px;
    height: 50px;
    background-color: rgb(173, 128, 37);*/
    clear: both;
    margin-left: auto;
    margin-right: auto;
    
}
/*****************Pagina contacto******************************/
#contacto_img{
    width: 450px;
    height: 300px;
    background-color:rgb(102, 201, 77);
    float: left;
    margin-left: 20px;
}
#contacto_img img{
    width: 300px;
    margin-left: 75px;
}
#contacto_form{
    width: 450px;
    height: 300px;
    background-color:rgb(18, 139, 123);
    float: left;
    margin-left: 20px;
}
#contacto_form form ul{
    list-style-type: none;
}
/*******************Pagina nosotros****************************/
#img_pres_3{
    width: 940px;
    height: 400px;
    background-color: rgb(20, 220, 187);
    background-image: url(nosotros.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.contenido_nos{
    width: 940px;
    height: 400px;
    background-color: rgb(78, 90, 88);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#txt_pres_3up{
    position: absolute;
    text-align: center;
    width: 400px;
    height: 150px;
    background-color: rgba(253, 253, 255,0.5);
    float: left;
    margin-left: 10px;
    margin-top: 30px;/*290*/
    /*box-sizing: border-box;*/
    border-radius: 10px;
}
#txt_pres_3up p{
    margin: 0px;
    font-size: 14px;
}

#txt_pres_3down{
    position: absolute;
    text-align: center;
    width: 400px;
    height: 150px;
    background-color: rgba(253, 253, 255,0.5);
    float: left;
    margin-left: 10px;
    margin-top: 220px;/*290*/
    border-radius: 10px;
}
#txt_pres_3down p{
    margin: 0px;
    font-size: 14px;
}
.contenido_nos .letrero{
    position: absolute;
    text-align: center;
    width: 400px;
    height: 50px;
    background-color: rgb(253, 253, 253);
    float: left;
    margin-left: 10px;
    margin-top: 30px;/*290*/
    border-radius: 20px;
    box-shadow: 5px 10px 7px rgba(160, 163, 158, 0.5);
}

.contenido_nos .tex_letrero{
    /*position: absolute;*/
    text-align: center;
    width: 700px;
    height: 200px;
    background-color: rgb(121, 153, 223);
    /*clear: both;
    float: left;*/
    margin-left: auto;
    margin-right: auto;/*290*/
    margin-top: 140px;
    box-sizing: border-box;
    padding: 40px;
}
/*******************Pagina servicios****************************/
#img_pres_4{
    width: 940px;
    height: 400px;
    background-color: rgb(20, 220, 187);
    background-image: url(servicios.jpg);
    background-size: cover;
    /*background-position: center;*/
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
/*#anima_4{
    width: 450px;
    height: 100px;
    background-color: rgba(253, 253, 255,0.5);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    /*box-sizing: border-box;*/
    /*border-radius: 10px;
/*}*/

.contenido_nos .letrero_pg4{
    /*position: absolute;*/
    text-align: center;
    font-family:'Lobster Two', cursive ;
    font-size: x-large;
    width: 400px;
    height: 50px;
    background-color: rgb(253, 253, 253);
    float: left;
    margin-left: 10px;
    margin-top: 20px;/*290*/
    border-radius: 20px;
}
.contenido_nos .letrero_pg4 h3{
    margin: 2px;
}
.contenido_nos .tex_letrero_pg4{
    width: 450px;
    height: 200px;
    background-color: rgb(121, 153, 223);
    clear: both;
    float: left;
    font-family: 'Baloo Tammudu 2', cursive;
    /*font-size: large;*/
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
    box-sizing: border-box;
}
.contenido_nos .img_letrero_pg4_1{
    /*position: absolute;*/
    width: 450px;
    height: 300px;
    background-color: rgb(33, 56, 107);
    /*clear: both;*/
    background-image: url(control_pg4.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 10px;
}
.contenido_nos .img_letrero_pg4_2{
    /*position: absolute;*/
    width: 450px;
    height: 300px;
    background-color: rgb(33, 56, 107);
    /*clear: both;*/
    background-image: url(tanques_lim.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 10px;
}
.contenido_nos .img_letrero_pg4_3{
    /*position: absolute;*/
    width: 450px;
    height: 300px;
    background-color: rgb(33, 56, 107);
    /*clear: both;*/
    background-image: url(matafuego_man.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 10px;
}
.contenido_nos .img_letrero_pg4_4{
    /*position: absolute;*/
    width: 450px;
    height: 300px;
    background-color: rgb(33, 56, 107);
    /*clear: both;*/
    background-image: url(desratizacion.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 10px;
}
.contenido_nos .img_letrero_pg4_5{
    /*position: absolute;*/
    width: 450px;
    height: 300px;
    background-color: rgb(33, 56, 107);
    /*clear: both;*/
    background-image: url(otros.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 10px;
}
@keyframes ejemplo {
	from {
	left:10px;
	background-color:#F30;
	width:1px;
	}
	to {
		left:10px;/*100*/
		background-color:#06C;
		width:500px;
	}
}
#anima_4{
	width:500px;
	height:50px;
	background-color:#06C;
    position:relative;
    left: 10px;
    /*left:100px;*/
    border-radius: 5px;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-family:'Lobster Two', cursive;
    font-size: xx-large;
    text-align: center;
    color: aliceblue;
	animation-name:ejemplo;
	animation-duration:6s;
	animation-iteration-count:1;
	animation-direction:alternate;
}
#anima_4 h3{
   
    text-shadow: 
    1px 1px 0px rgba(230,230,230,1), 
    2px 2px 0px rgba(200,200,200,1), 
    3px 3px 0px rgba(180,180,180,1), 
    4px 4px 0px rgba(160,160,160,1), 
    /*Añadimos*/ 
    5px 5px 0px rgba(0,0,0,1), 
    8px 8px 20px rgba(0,0,0,0.5);
    
}