header,section,footer{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}
header{
    height: 100px;
    /*background-color: cadetblue;*/
}
#section_pg1{
    height: 1400px;
    background-color: rgb(71, 174, 243);
}
footer{
    height: 300px;
    background-color: bisque;
}
/***********************************************/
#img_marca{
    /*height: 80px;
    width: 80px;
    background-color: blue;*/
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
#bot_menu{

    width: 400px;
    height: 50px;
    background-color: cyan;
    float: left;
    margin-top: 25px;
    margin-left: 80px;
}
#bot_menu ul li{
    display: inline;;
}
#bot_menu ul li a{
    display: inline-block;
    width: 80px;
    height: 40px;
    /*background-color: coral;*/
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    margin-left: 10px;
}
#bot_social{
    width: 300px;
    height: 50px;
    background-color: rgb(61, 139, 129);
    float: right;
    margin-top: 25px;
    margin-right: 10px;
}
#bot_social ul li{
    display: inline;
}
#bot_social ul li a{
    display: inline-block;
    width: 90px;
    height: 40px;
    /*background-color: brown;*/
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    margin-left: 5px;
}

/***********************************************/
#img_pres{
    width: 940px;
    height: 450px;
    background-color: rgb(20, 220, 187);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#fondo_pg1{
    position: absolute;
    width: 940px;
    height: 450px;
}
#txt_pres{
    position: absolute;
    text-align: center;
    /*width: 400px;
    height: 150px;
    background-color: rgb(30, 44, 80);*/
    float: left;
    margin-left: 10px;
    margin-top: 290px;/*290*/
}
#img_serv1{
    width: 350px;
    height: 250px;
    background-color: crimson;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#img_s1{
    width: 350px;
    height: 250px;
}
#txt_serv1{
    position: relative;
    text-align: center;
    width: 350px;
    height: 250px;
    background-color: tomato;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    /*z-index: 0;*/
}
#link_serv1{
    position: relative;
    width: 100px;
    height: 50px;
    background-color: rgb(157, 185, 32);
    float: left;
    margin-left: 10px;
    margin-top: auto;
    /*z-index: 1;*/
}
#img_serv2{
    width: 350px;
    height: 250px;
    background-color: rgb(236, 29, 236);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#img_serv3{
    width: 465px;
    height: 250px;
    background-color: rgb(194, 21, 128);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#img_s2{
    width: 465px;
    height: 250px;
}

#txt_serv2{
    position: relative;
    text-align: center;
    width: 350px;
    height: 250px;
    background-color: rgb(241, 132, 7);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    
}
#link_serv2{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: rgb(91, 247, 1);
    float: left;
    margin-left: 10px;
    /*margin-top: auto;*/
    top: 190px;
    /*z-index: 1;/*algo raro pasa respecto a la primera!*/
}
#txt_serv3{
    position: relative;
    text-align: center;
    width: 465px;
    height: 250px;
    background-color: rgb(255, 229, 82);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#img_s3{
    width: 465px;
    height: 250px;
}
.link_button{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: rgb(12, 173, 47);
    float: left;
    margin-left: 10px;
    top: 190px;
    /*margin-top: 190px;*/
}
#txt_partner{
    text-align: center;
    width: 400px;
    height: 50px;
    /*background-color: rgb(126, 124, 123);*/
    clear: left;
    margin-left: auto;
    margin-right: auto;

}
#img_partner{
    width: 800px;
    height: 80px;
    background-color: rgb(43, 26, 18);
    margin-left: auto;
    margin-right: auto; 
    margin-top: 10px;
}
#main_banner{
    position: relative;
    width: 220px;
    height: 510px;
    background-color: blueviolet;
    left: 730px;
    top: 470px;
    margin-right: 10px;
    margin-top: 10px;
}

/***********************************************/
#contacto{
    text-align: right;
    width: 450px;
    height: 200px;
    background-color: rgb(89, 119, 96);
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
#links{
    text-align: left;
    width: 450px;
    height: 200px;
    background-color: rgb(96, 153, 109);
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}
#rights{
    text-align: center;
    /*width: 800px;
    height: 50px;
    background-color: rgb(173, 128, 37);*/
    clear: both;
    margin-left: auto;
    margin-right: auto;
    
}