/****************Secciones principales************/
header,section,footer{
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}
header{
    height: 100px;
    background-color: rgb(95, 158, 160);
    border-radius: 10px;
}
#section_pg1{
    height: 1400px;
    background-color: rgb(71, 174, 243);
}
#section_pg2{
    height: 400px;
    background-color: rgb(71, 174, 243);
    padding: 5px;
    box-sizing: border-box;
}
#section_pg3{
    height: 1240px;
    background-color: rgb(71, 174, 243);
}
#section_pg4{
    height: 2480px;
    background-color: rgb(71, 174, 243);
}
footer{
    height: 300px;
    background:-moz-linear-gradient(top,#5f9ea0 , #2c2c2c);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#65b6cf), to(#2c2c2c));
}
/****************Página principal************************/
.img_marca{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.bot_menu{
    width: 400px;
    height: 50px;
    float: left;
    font-family:'Lobster Two', cursive ;
    font-size: x-large;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 80px;
}
.bot_menu ul li{
    display: inline;;
}
.bot_menu ul li a{
    display: inline-block;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    margin-left: 10px;
}
.bot_menu ul li a:hover{
    background-color: #65b6cf;
}
.bot_social{
    width: 300px;
    height: 50px;
    background-color: rgb(61, 139, 129);
    float: right;
    font-family:'Lobster Two', cursive ;
    font-weight: bold;
    margin-top: 25px;
    margin-right: 10px;
    border-radius: 10px;
}
.bot_social ul li{
    display: inline;
}
.bot_social ul li a{
    display: inline-block;
    width: 90px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    margin-left: 5px;
    border-radius: 10px;
}
.bot_social ul li a:hover{
    background-color: #65b6cf;;
}

/***********************************************/
#img_pres{
    width: 940px;
    height: 450px;
    background-image: url(3.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
#fondo_pg1{
    position: absolute;
    width: 940px;
}
#txt_pres{
    position: absolute;
    text-align: center;
    font-family:'Lobster Two', cursive ;
    font-size: xx-large;
    float: left;
    margin-left: 10px;
    margin-top: 100px;
}
#img_serv1{
    width: 350px;
    height: 250px;
    background-color: rgb(78, 90, 88);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url(serv1.png);
    border-radius: 10px;
    background-size: cover;
}
#txt_serv1{
    position: relative;
    text-align: center;
    width: 350px;
    height: 250px;
    background-color:rgb(121, 153, 223);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    box-sizing: border-box;
}
#txt_serv1 h3{
    font-family:'Lobster Two', cursive ;
    font-size: x-large;
}

#link_serv1{
    position: relative;
    width: 80px;
    height: 40px;
    background-color: rgb(253, 253, 253);
    float: left;
    margin-left: 10px;
    margin-top: auto;
    padding-top: 8px;
    border-radius: 10px;
    box-sizing: border-box;
}
#img_serv2{
    width: 350px;
    height: 250px;
    background-color: rgb(78, 90, 88);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url(serv2.jpg);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
#img_serv3{
    width: 465px;
    height: 250px;
    background-color: rgb(78, 90, 88);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url(serv3.jpg);
    border-radius: 10px;
    background-size: cover;
}
#txt_serv2{
    position: relative;
    text-align: center;
    width: 350px;
    height: 250px;
    background-color: rgb(121, 153, 223);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 20px 0px 0px 20px;
    box-sizing: border-box;
}
#txt_serv2 h3{
    font-family:'Lobster Two', cursive ;
    font-size: x-large;
}
#link_serv2{
    position: relative;
    width: 80px;
    height: 40px;
    background-color: rgb(253, 253, 253);
    float: left;
    margin-left: 10px;
    /*top: 190px;*/
    /*margin-top: auto;*/
    padding-top: 8px;
    border-radius: 10px;
    box-sizing: border-box;
}
#txt_serv3{
    position: relative;
    text-align: center;
    width: 465px;
    height: 250px;
    background-color: rgb(121, 153, 223);
    float: left;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 0 20px 20px 0;
}
#txt_serv3 h3{
    font-family:'Lobster Two', cursive ;
    font-size: x-large;
}
#img_s3{
    height: 250px;
    margin-left: 100px;
}
.link_button{
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: rgb(253, 253, 253);
    float: left;
    margin-left: 10px;
    top: 190px;
    padding-top: 8px;
    border-radius: 10px;
    box-sizing: border-box;
}
#txt_partner{
    text-align: center;
    width: 400px;
    height: 50px;
    background-color: rgb(126, 124, 123);
    clear: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 0px;
    box-sizing: border-box;
    border-radius: 10px;
    font-family:'Lobster Two', cursive ;
    font-size: x-large;
}
#img_partner{
    width: 800px;
    height: 80px;
    background-color: rgb(121, 153, 223);;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 10px;
    padding-top: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}
#img_partner ul{
    margin: 0px;
    list-style-type: none;
}
#img_partner ul li{
    display: inline;
} 
#img_partner ul li p{
    display:inline-block;
    width: 230px;
    font-family:'Lobster Two', cursive ;
    font-size: large;
}
#main_banner{
    position: absolute;
    text-align: center;
    font-size: xx-large;
    width: 220px;
    height: 510px;
    background-color: rgb(121, 153, 223);
    font-family:'Lobster Two', cursive ;
    left: 928px;
    top: 570px;
    padding: 25px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
@keyframes movimiento-texto {
    from {
       color:rgb(15, 86, 219);
    }
    
    to {
       color:rgb(223, 13, 223);
    }
 }
 #main_banner h2{
   animation-name: movimiento-texto;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
    position: relative;
 } 

/***********************************************/
#contacto{
    text-align: center;
    width: 450px;
    height: 200px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
#links{
    text-align: center;
    width: 450px;
    height: 200px;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}
#rights{
    text-align: center;
    background-color: rgb(61, 139, 129);
    clear: both;
    margin-left: auto;
    margin-right: auto;
}
/*****************Pagina contacto******************************/
#contacto_img{
    width: 450px;
    height: 300px;
    background-color:rgb(102, 201, 77);
    float: left;
    margin-left: 20px;
}
#contacto_img img{
    width: 300px;
    margin-left: 75px;
}
#contacto_form{
    width: 450px;
    height: 300px;
    background-color:rgb(18, 139, 123);
    float: left;
    margin-left: 20px;
}
#contacto_form form ul{
    list-style-type: none;
}
#section_pg2 h3{
    text-align: center;
    font-family:'Lobster Two', cursive ;
    font-size: xx-large;
}
/*******************Pagina nosotros****************************/
#img_pres_3{
    width: 940px;
    height: 400px;
    background-color: rgb(20, 220, 187);
    background-image: url(nosotros.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.contenido_nos{
    width: 940px;
    height: 400px;
    background-color: rgb(78, 90, 88);
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#txt_pres_3up{
    position: absolute;
    text-align: center;
    width: 400px;
    height: 150px;
    background-color: rgba(253, 253, 255,0.5);
    float: left;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
#txt_pres_3up h3{
    font-family:'Lobster Two', cursive ;
    font-size: x-large;
    margin: 0px;
}
#txt_pres_3up p{
    margin: 0px;
    font-size: 14px;
}

#txt_pres_3down{
    position: absolute;
    text-align: center;
    width: 400px;
    height: 150px;
    background-color: rgba(253, 253, 255,0.5);
    float: left;
    margin-left: 10px;
    margin-top: 220px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}
#txt_pres_3down h3{
    font-family:'Lobster Two', cursive ;
    font-size: x-large;
    margin: 0px;
}
#txt_pres_3down p{
    margin: 0px;
    font-size: 14px;
}
.contenido_nos .letrero{
    position: absolute;
    text-align: center;
    width: 400px;
    height: 50px;
    background-color: rgb(253, 253, 253);
    float: left;
    margin-left: 10px;
    margin-top: 30px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 5px 10px 7px rgba(160, 163, 158, 0.5);
    font-family:'Lobster Two', cursive ;
    font-size: x-large;
}
.contenido_nos .letrero h3{
    margin: 0px;
}

.contenido_nos .tex_letrero{
    text-align: center;
    width: 700px;
    height: 200px;
    background-color: rgb(121, 153, 223);
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 20px;
}
/*******************Pagina servicios****************************/
#img_pres_4{
    width: 940px;
    height: 400px;
    background-color: rgb(20, 220, 187);
    background-image: url(servicios.jpg);
    background-size: cover;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.contenido_nos .letrero_pg4{
    text-align: center;
    font-family:'Lobster Two', cursive ;
    font-size: x-large;
    width: 400px;
    height: 50px;
    background-color: rgb(253, 253, 253);
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 20px;
}
.contenido_nos .letrero_pg4 h3{
    margin: 2px;
}
.contenido_nos .tex_letrero_pg4{
    width: 450px;
    height: 200px;
    background-color: rgb(121, 153, 223);
    clear: both;
    float: left;
    font-family: 'Baloo Tammudu 2', cursive;
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 20px;
}
.contenido_nos .img_letrero_pg4_1{
    width: 450px;
    height: 300px;
    background-color: rgb(33, 56, 107);
    background-image: url(control_pg4.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 10px;
}
.contenido_nos .img_letrero_pg4_2{
    width: 450px;
    height: 300px;
    background-color: rgb(33, 56, 107);
    background-image: url(tanques_lim.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 10px;
}
.contenido_nos .img_letrero_pg4_3{
    width: 450px;
    height: 300px;
    background-color: rgb(33, 56, 107);
    background-image: url(matafuego_man.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 10px;
}
.contenido_nos .img_letrero_pg4_4{
    width: 450px;
    height: 300px;
    background-color: rgb(33, 56, 107);
    background-image: url(desratizacion.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 10px;
}
.contenido_nos .img_letrero_pg4_5{
    width: 450px;
    height: 300px;
    background-color: rgb(33, 56, 107);
    background-image: url(otros.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 10px;
}
@keyframes ejemplo {
	from {
	left:10px;
	background-color:#F30;
	width:1px;
	}
	to {
		left:10px;
		background-color:#06C;
		width:500px;
	}
}
#anima_4{
	width:500px;
	height:50px;
	background-color:#06C;
    position:relative;
    left: 10px;
    border-radius: 5px;
    font-family:'Lobster Two', cursive;
    font-size: xx-large;
    text-align: center;
    color: aliceblue;
	animation-name:ejemplo;
	animation-duration:6s;
	animation-iteration-count:1;
	animation-direction:alternate;
}
#anima_4 h3{
    text-shadow: 
    1px 1px 0px rgba(230,230,230,1), 
    2px 2px 0px rgba(200,200,200,1), 
    3px 3px 0px rgba(180,180,180,1), 
    4px 4px 0px rgba(160,160,160,1), 
    5px 5px 0px rgba(0,0,0,1), 
    8px 8px 20px rgba(0,0,0,0.5);
}
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/****************************Responsive desing****************************/
@media all and (min-width:600px) and (max-width:1023px){
    header,section,footer{
        width: 580px;
    }

    #section_pg1{
        height: 2050px;
    }
    #section_pg2{
        height: 730px;
    }
    #section_pg4{
        height: 2320px;
       
    }

    /****************Página principal************************/
    .bot_menu{
        margin-left: 25px;
    }
    .bot_social{
        display: none;
    }
    /*.bot_social{
        width: 300px;
        height: 50px;
        background-color: rgb(61, 139, 129);
        float: right;
        font-family:'Lobster Two', cursive ;
        font-weight: bold;
        margin-top: 25px;
        margin-right: 10px;
        border-radius: 10px;
    }
    .bot_social ul li{
        display: inline;
    }
    .bot_social ul li a{
        display: inline-block;
        width: 90px;
        height: 40px;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        margin-left: 5px;
        border-radius: 10px;
    }
    .bot_social ul li a:hover{
        background-color: #65b6cf;;
    }*/
    
    /***********************************************/
    #img_pres{
        width: 560px;
    }
    #txt_pres{
        margin-top: 150px;
    }
    #img_serv1{
        margin-left: 110px;
    }
    #txt_serv1{
        width: 560px;
        height: 200px;
        border-radius: 20px;
    }
  
    #img_serv2{
        margin-left: 110px;
    }
    #img_serv3{
        width: 350px;
        margin-left: 110px;
    }
    #txt_serv2{
        width: 560px;
        height: 200px;
        border-radius: 20px;
    }

    #link_serv2{
        /*top: 150px;*/
    }
    #txt_serv3{
     
        width: 560px;
        height: 200px;
        border-radius: 20px;
        margin-bottom: 10px;
    }
 
    .link_button{
        top: 150px;
    }
    
    #img_partner{
        width: 560px;
    }
    
  
    #img_partner ul li p{
        width: 160px;
        font-size: 16px;
    }
    #main_banner{
        display: none;
    }
    /***********************************************/
    #contacto{
        
        width: 560px;
        height: 100px;
        margin-top: 0px;
    }
    #links{
        
        width: 560px;
        height: 150px;
        margin-bottom: 0px;
    }

    /*****************Pagina contacto******************************/
    #contacto_img{
        margin-left: 60px;
    }
 
    #contacto_form{
        margin-left: 60px;
        margin-bottom: 10px;
    }
    /*******************Pagina nosotros****************************/
    #img_pres_3{
        width: 560px;
    }
    .contenido_nos{
        width: 560px;
    }
    #txt_pres_3up{
        width: 540px;
        height: 100px;
        margin-top: 170px;
    }   
    #txt_pres_3down{
 
        width: 540px;
        height: 115px;
        margin-top: 280px;
    }

    .contenido_nos .letrero{
        margin-left: 80px;
    }
    
    .contenido_nos .tex_letrero{
        width: 540px;
        padding: 30px;
    }
    /*******************Pagina servicios****************************/
    #img_pres_4{
        width: 560px;
        height: 250px;/*400*/
    }

    .contenido_nos .letrero_pg4{
        margin-left: 70px;
        margin-top: 5px;
    }

    .contenido_nos .tex_letrero_pg4{
        width: 540px;
        height: 100px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: 'Times New Roman', Times, serif;
    }
    .contenido_nos .img_letrero_pg4_1{
        height: 230px;
        /*margin-top: 0px;*/
        margin-left: 60px;
    }
    .contenido_nos .img_letrero_pg4_2{
        height: 230px;
        margin-left: 60px;
    }
    .contenido_nos .img_letrero_pg4_3{
        height: 230px;
        margin-left: 60px;
    }
    .contenido_nos .img_letrero_pg4_4{
        height: 230px;
        margin-left: 60px;
    }
    .contenido_nos .img_letrero_pg4_5{
        height: 230px;
        margin-left: 60px;
    }
    @keyframes ejemplo {
        from {
        left:30px;
        background-color:#F30;
        width:1px;
        }
        to {
            left:30px;
            background-color:#06C;
            width:500px;
        }
    }
    #anima_4{
      
        left: 30px;
       
    }

}/*Fin primer media*/
/*************************************************************************/
/*************************************************************************/
/*************************************************************************/
/****************************Responsive desing****************************/
@media all and (max-width:599px){
    header,section,footer{
        width: 90%;
    }
    header{
        height: auto;
    }
    #section_pg1{
        height: auto;
      
    }
    #section_pg2{
        height: auto;
    }
    #section_pg3{
        height: auto;
        
    }
    #section_pg4{
        height: auto;
    }
    footer{
        height: auto;
        
    }
    /****************Página principal************************/
    .img_marca{
        width: 100%;
        height: auto;
        float: none;
        margin-left: 35%;
      
    }
    .bot_menu{
        width: 100%;
        height: auto;
        float: none;
        margin-top: 0px;
        margin-left: 0px;
    }
    .bot_menu ul li{
        display: block;
    }
    .bot_menu ul li a{
        padding: 20px 15px;
        width: 100%;
        box-sizing: border-box;
        height: auto;
        margin-left: 0px;
    }
    .bot_social{
        display: none;
    }

    /***********************************************/
    #img_pres{
        position: relative;
        width: 95%;
        height: 300px;
        float: none;
        top: 10px;
        margin-bottom: 10px;
    }

    #txt_pres{
        font-size: x-large;
    }

    #img_serv1{
        width: 95%;
        height: 160px;
        background-position: center;
        background-size: 100%;
    }

    #txt_serv1{
        width: 95%;
        height: auto;
        border-radius: 20px;
    }
    
    #img_serv2{
        width: 95%;
        height: 180px;
    }
    #img_serv3{
        width: 95%;
        height: 180px;
    }

    #txt_serv2{
        width: 95%;
        height: auto;
        border-radius: 20px;
    }

    #txt_serv3{
        width: 95%;
        height: auto;
        border-radius: 20px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
  
    .link_button{
        position: relative;
        top: 0px;

    }
    #txt_partner{

        width: 95%;
        height: auto;
    }
    #img_partner{
        width: 95%;
        height: auto;
    }

    #img_partner ul li p{
        text-align: center;
        width: 95%;
    }
    #main_banner{
        display: none;
    }

    /***********************************************/
    #contacto{
        width: 95%;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
        margin-left: 0px;
        margin-top: 0px;
    }

    #links{
       
        width: 95%;
        height: auto;
        
        margin-right: 0px;
        margin-top: 0px;
        margin-left: 0px;
        padding: 10px;
        box-sizing: border-box;
    }
    /*****************Pagina contacto******************************/
    #contacto_img{
        width: 95%;
        height: auto;
        margin-left: 10px;
    }
    #contacto_img img{
        width: 95%;
        margin-left: 10px;
    }
    #contacto_form{
        width: 95%;
        height: auto;
        margin-left: 10px;
    }
    #section_pg2 h3{
        
        font-size: x-large;
    }
    /*******************Pagina nosotros****************************/
    #img_pres_3{
        width: 95%;
        height: 400px;
        
    }
    .contenido_nos{
        width: 95%;
        height: auto;
        
    }
    #txt_pres_3up{
        width: 80%;
        height: auto;
        float: none;
        margin-left: 5px;
    }
    #txt_pres_3down{

        width: 80%;
        height: auto;
        float: none;
        margin-left: 5px;
    }
    .contenido_nos .letrero{
        width: 80%;
        height: auto;
        float: none;
        margin-left: 5px;
        font-size: large;
    }
    .contenido_nos .tex_letrero{
        width: 95%;
        height: auto;
        margin-top: 100px;
    }
    /*******************Pagina servicios****************************/
    #img_pres_4{
        width: 95%;
        height: 300px;
        background-size: 207%;
        float: left;
    }
    
    .contenido_nos .letrero_pg4{
        font-size: large;
        width: 95%;
        height: auto;
        float: none;
    }
 
    .contenido_nos .tex_letrero_pg4{
        width: 95%;
        height: auto;
        float: none;
        font-family:'Times New Roman', Times, serif;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .contenido_nos .img_letrero_pg4_1{
        width: 95%;
        height: 200px;
        float: none;
        margin-bottom: 10px;
    }
    .contenido_nos .img_letrero_pg4_2{
        width: 95%;
        height: 200px;
        float: none;
        margin-bottom: 10px;
    }
    .contenido_nos .img_letrero_pg4_3{
        width: 95%;
        height: 200px;
        float: none;
        margin-bottom: 10px;
    }
    .contenido_nos .img_letrero_pg4_4{
        width: 95%;
        height: 200px;
        float: none;
        margin-bottom: 10px;
    }
    .contenido_nos .img_letrero_pg4_5{
        width: 95%;
        height: 200px;
        float: none;
        margin-bottom: 10px;
    }
    @keyframes ejemplo {
        from {
        left:10px;
        background-color:#F30;
        width:0%;
        }
        to {
            left:10px;
            background-color:#06C;
            width:95%;
        }
    }
    #anima_4{
        width:95%;
        height:auto;
    }

}/*Fin media 2*/